.terms-container {
  padding: 24px 40px;
  overflow-y: auto;
  height: 100vh;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 12px;
}
